body {
  margin: 0 ;
}

div {
  height: 100px;
  width: 300px;
  margin: 0 auto;
}

div:hover {
  height: 200px;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}
